<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Soto Malam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Best Soto Under The Night" />
    <meta name="theme-color" content="#1b1b1b" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header>
      <h1 id="title">Soto<span>Malam</span></h1>
      <button id="hamburger">☰</button>
      <nav id="top-nav">
        <a id="close-nav">✖</a>
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/ImBIOS">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="main"></main>
    <footer>
      <p>
        Copyright © 2021 -
        <a href="/" target="_blank" rel="noreferrer">SotoMalam</a>
      </p>
    </footer>
  </body>
</html>
